* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fdf6e3;
    font-family: 'Inconsolata', monospace;
    color: #333;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

// declaring this in _global._scss takes care of Firefox bug re <a> text decoration
a {
    text-decoration: none;
}

/* Clearfix */

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
