* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $mainBackground;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.base {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

// declaring this in _global._scss takes care of Firefox bug re <a> text decoration
a {
    text-decoration: none;
}

.active {
    cursor: pointer;
}

/* Clearfix */

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
