* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #fdf6e3;
    font-family: 'Inconsolata', monospace;
    color: #333;
}
