$max-900: '(max-width: 900px)';
$max-800: '(max-width: 800px)';

$min-675: '(min-width: 675px)';
$min-740: '(min-width: 740px)';
$min-801: '(min-width: 801px)';
$min-901: '(min-width: 901px)';

@mixin max-screen-900($max-900) {
    @media all and (max-width: $max-900) {
        @content;
    }
}
@mixin max-screen-800($max-800) {
    @media all and ($max-800) {
        @content;
    }
}
@mixin min-screen-675($min-675) {
    @media all and ($min-675) {
        @content;
    }
}
@mixin min-screen-740($min-740) {
    @media all and ($min-740) {
        @content;
    }
}
@mixin min-screen-801($min-801) {
    @media all and ($min-801) {
        @content;
    }
}
@mixin min-screen-901($min-901) {
    @media all and ($min-901) {
        @content;
    }
}
