$mainBlack: black;
$mainWhite: white;
$mainColor: red;
$mainYellow: #ffc600;

$darkOliveGreen1: #caff70;
$darkOliveGreen4:#6e8b3d;

$lightCoral: #f08080;

$lightPink: #ffb6c1;

$dodgerBlue3: #1874cd;

$hotPink2: #ee6aa7;
$thistle-color-light: #ffe1ff;
$thistle-color-medium: #cdb5cd;
$thistle-color-dark: #8b7b8b;

$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: black;
