/* Colors */

$mainBlack: black;
$mainWhite: white;
$mainColor: red;
$mainYellow: #ffc600;

$darkOliveGreen1: #caff70;
$darkOliveGreen4:#6e8b3d;

$lightCoral: #f08080;

$lightPink: #ffb6c1;

$dodgerBlue3: #1874cd;
$dodgerBlue4: #104e8b;

$hotPink2: #ee6aa7;
$thistle-color-light: #ffe1ff;
$thistle-color-medium: #cdb5cd;
$thistle-color-dark: #8b7b8b;
$plum4-color: #8b668b;

/* Fonts */
$base-font-family: 'Inconsolata', monospace;
$base-code-font: 'Kotta One', serif;
$base-font-size: 20px;
$small-font-size: $base-font-size * 0.875;

/* Line Heights */
$base-line-height: 1.5;

/* Spacing */
$spacing-unit: 20px;

$atSmall-600: 600px;
$atSmall-621: 621px;
$atMedium-800: 800px;
