/* Colors */

$mainAntiqueWhite: #faebd7;
$mainBackground: #fdf6e3;

$mainBlack: black;
$mainWhite: white;
$mainColor: red;
$mainYellow: #ffc600;

$darkOliveGreen1: #caff70;
$darkOliveGreen4:#6e8b3d;

$lightCoral: #f08080;

$lightPink: #ffb6c1;
$deepPink4: #8b0a50;

$dodgerBlue3: #1874cd;
$dodgerBlue4: #104e8b;

$grey-teal-color: #c1cdcd;

$hotPink2: #ee6aa7;
$hotPink3: #cd6090;
$thistle-color-light: #ffe1ff;
$thistle-color-medium: #cdb5cd;
$thistle-color-dark: #8b7b8b;
$plum4-color: #8b668b;
$tan1: #ffa54f;
$tomato1: #ff6347;

/* Fonts */
$base-font-family: 'Inconsolata', monospace;
$base-code-font: 'Kotta One', serif;
$base-font-size: 20px;
$small-font-size: $base-font-size * 0.875;

/* Line Heights */
$base-line-height: 1.5;

/* Spacing */
$spacing-unit: 20px;

$atSmall-600: 600px;
$atSmall-621: 621px;
$atMedium-800: 800px;

/* Width of Content Area */

$content-width: 1400px;
$on-palm: 600px;
$on-palm-20: 621px;
$on-laptop: 800px;

/* Gradient Bar Variables */

$blue-color: #92b5bd;
$yellow-color: #ede24e;
$red-color: #df6d59;
$purple-color: #6b2339;

/* mqs */
