.About-content {
    text-align: center;
    position: relative;
    width: 75%;
    margin: 0 auto 40px;
    text-transform: lowercase;
    & h1 {
        margin-bottom: 10px;
        color: #333;
        font-weight: 300;
        &.heading-thistle-medium {
            color: #cdb5cd;
        }
    }
    & h2 {
        margin-bottom: 30px;
        font-weight: 300;
        &.heading-thistle-medium {
            color: #cdb5cd;
        }
        & span {
            color: #8b7b8b;
        }
    }
    & p {
        font-size: 20px;
        line-height: 1.3;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #333;
        & span {
            color: #cdb5cd;
        }
    }
    & a {
        color: tomato;
    }
}

.About-profile {
    & .Profile-image {
        display: block;
        height: 200px;
        width: 200px;
        margin: 60px auto;
        text-align: center;
    }
}
