.Contact-content {
    margin: 60px auto;
    color: #333;
    text-transform: lowercase;
    &.contact-social {
        & h2 {
            text-transform: none !important;
            margin-top: 75px;
        }
    }
}

.contact-social {
    & li {
        display: inline-block;
        text-align: center;
        margin: 40px auto 0;
        padding: 0 12px;
    }
    & a {
        color: tomato;
        font-size: 20px;
        @mixin atSmall {
            font-size: 24px;
        }
    }
    & img {
        width: 35px;
        @mixin atSmall {
            width: 40px;
        }

    }
}

.contact-social, .email, .follow {
    margin: 20px auto 60px;
}

.contribute {
    margin: 20px auto 75px;
}

.contact-social h2,
.email h2,
.follow h2,
.contribute h2 {
    font-size: 24px;
    @mixin atSmall {
        font-size: 28px;
    }
}

/*.contact-social img {
    animation: infinite svg-icon-spin 20s linear;
}

@keyframes svg-icon-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

.icon-container {
    height: 40px;
    perspective: 600;
    position: relative;
    width: 40px;
}

.icon {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1.5s ease-in-out;
    width: 100%;
}

.icon:hover, .icon:focus {
    transform: rotateY(360deg);
}

.icon .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.icon .back {
    transform: rotateY(360deg);
}
