.Home-content {
    text-align: center;
    position: relative;
    width: 75%;
    margin: 0 auto 40px;
    & h1 {
        color: $thistle-color-medium;
        margin-bottom: 10px;
    }
    & h2 {
        color: $thistle-color-medium;
        margin-bottom: 30px;
        & span {
            color: $thistle-color-dark;
        }
    }
    & p {
        font-size: 20px;
        line-height: 1.3;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #333;
    }
}

.Home-profile {
    & .Profile-image {
        display: block;
        height: 200px;
        width: 200px;
        margin: 60px auto;
        text-align: center;
    }
}
