.Nav-bottom {
    background: black;
    height: 50px;
    margin: 0 auto;
}

.Nav-bottom ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background: black;
}

.Nav-bottom li {
    display: inline-block;
    padding: 5px 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}

.Nav-bottom a {
    text-decoration: none;
    color: white;
    display: block;
    transition: .3s background-color;
    padding: 0 10px;
}

.Nav-bottom a:hover {
    background-color: #005f5f;
}

.Nav-bottom a.active {
    color: $darkOliveGreen1;
    cursor: default;
}

.active {
    padding: 0 10px;
}
