@import 'base/mixins';
@import 'base/variables';
@import 'base/global';
@import 'partials/app';
@import 'partials/topNav';
@import 'partials/home';
@import 'partials/about';
@import 'partials/contact';
@import 'partials/calendar';
@import 'partials/work';
@import 'partials/carousel';
@import 'partials/_slide';
@import 'partials/skills';
@import 'partials/siteFooter';
@import 'partials/stickyFooter';
@import 'partials/Typist';
