.About-content {
    width: 90%;
    margin: 120px auto 60px;
    text-transform: lowercase;
    font-size: 20px;

    h2 {
        margin-bottom: 10px;
        color: #333;
        font-weight: 300;
        color: $thistle-color-medium;
    }

    h3 {
        margin-bottom: 30px;
        font-weight: 300;
        color: $thistle-color-medium;

        span {
            color: $thistle-color-dark;
        }
    }

    p {
        line-height: 1.3;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #333;

        span {
            color: $thistle-color-medium;
        }

        a {
            color: $tomato1;
        }

        a:hover, a:focus {
            color: $dodgerBlue3;
            transition: 1s ease-out;
        }
    }
    @media #{$min-901} {
        margin: 160px auto 60px;
    }
}

h2.about-meetups,
h2.about-resources {
    color: $thistle-color-medium;
}

a.resumeLink {
    line-height: 1.7;
    color: $darkOliveGreen4;
    &:hover, &:focus {
        color: $hotPink3;
        transition: 1s ease-out;
    }
}

.About-profile {
    .Profile-image {
        display: block;
        margin: 40px auto;
        max-height: 45vh;
        max-width: 45vw;
        text-align: center;
    }
}
