.Home-content {
    position: relative;
    margin: 140px auto 70px;
    height: 100%;
    .home-work-heading {
        //margin-top: 40px;
		font-size: 28px;
        color: $mainBlack;
        margin-bottom: 20px;
		@include media-query($atMediumSmall) {
			font-size: 32px;
		}
	}
    .Articles-content {
        margin-top: 60px;
        margin-bottom: 0;
        h2 {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}
