.storage-markdown,
.synth-markdown,
.clock-markdown,
.weather-markdown,
.travel-markdown,
.quote-markdown,
.wiki-markdown,
.surreal-markdown,
.classiscare-markdown,
.jest-markdown,
.sticky-markdown {
    font-size: 16px;
    @include media-query($atMediumSmall) {
        font-size: 18px;
    }
    @include media-query($content-width-901) {
        font-size: 20px;
    }
    line-height: 1.6;
    h2 {
        font-size: 24px;
        @include media-query($atMediumSmall) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 20px;
		display: block;
        @include media-query($atMediumSmall) {
            font-size: 24px;
        }
    }
    li {
        margin-top: 10px;
    }
    a {
        color: tomato;
    }
    p {
        padding: 5px 0;
        color: #333;
    }
    strong {
        color: $dodgerBlue3;
    }
}

code {
    color: $thistle-color-medium;
    font-size: 16px;
    text-align: left;
    @include media-query($atMediumSmall) {
        font-size: 18px;
    }
    @include media-query($content-width-901) {
        font-size: 20px;
    }
}
// Add scrollbar to x axis when code block is too long
pre, pre > code {
    max-width: 90% !important;
    -webkit-overflow-y-scrolling: hidden !important;
    -webkit-overflow-x-scrolling: auto !important;
    overflow-y: hidden;
    overflow-x: auto !important;
}

blockquote {
    color: $hotPink2;
    padding-left: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Projects Meta Styling */

/* Wikipedia Viewer */

.meta {
    width: 90%;
    margin: 12px auto;
    text-align: center;
}

.post-date-meta {
    font-style: italic;
    color: $hotPink3;
}
