.site-footer {
    padding: 2em 0;
    color: $mainWhite;
    background: $mainBlack;
    div.footer-social {
        text-align: center;
        width: 100%;
        li {
            display: inline-block;
            margin-top: 40px;
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.identity {
    text-align: center;
    width: 100%;
    margin: 50px auto -10px;
    color: $mainWhite;
    p {
        color: $mainWhite;
        font-size: 20px;
    }
}

img.footerTwitter:hover,
img.footerGithub:hover,
img.footerGoogleplus:hover,
img.footerLinkedin:hover {
    animation: stretch 2s infinite ease-in-out;
}
