.slide  {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    flex-grow: 1;
    border-right: 1px solid black;
    color: $mainBlack;
    height: 350px;
    width: 600px;
    background: $dodgerBlue3;
}

.slide:last-child {
    border-right: none;
}
