/* Mobile Hambuerger Styling */

div.hamburger {
    display: block;
    width: 36px;
    height: 30px;
    position: fixed;
    top: 18px;
    right: 25px;
    cursor: pointer;
    z-index: 99999;
}

div.hamburger div.line {
    width: 100%;
    height: 6px;
    margin: 0 0 6px 0;
    background: $darkOliveGreen4;
    transition: transform 0.3s, opacity 0.1s;
}

/* End Mobile Hamburger Styling */

/* Animation classes for Hamburger Rotation Animation Styling Used in topNavNarrow */

.hide {
    opacity: 0;
    transform: translate(42px);
}

.animate0 {
    transform: rotate(45deg) translateY(17px);
}

.animate2 {
    transform: rotate(-45deg) translateY(-17px);
}

/* End Animation classes for Hamburger Rotation Animation Styling in topNavNarrow */

nav.responsive-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    overflow-y: visible;
    position: fixed;
    opacity: 1;
    z-index: 1;
    background: $tan1;
    transition: height 0.5s ease, opacity 1s;
    li a, li div.active {
        display: none !important;
    }
    & ul {
        -webkit-transform:perspective(600) rotate3d(1,0,0,-90deg);
        -webkit-transform-origin:50% 0;
        -webkit-transition:350ms;
        -moz-transition:350ms;
        -o-transition:350ms;
        transition:350ms;
    }
}

nav.responsive-menu.show {
    opacity: 1;
    z-index: 2;
    transition: height 0.5s ease, visibility 1s;
    height: 100vh;
    top: -15px;
    padding-top: 90px;
    background: $tan1;
    li {
        margin-top: 12px;
    }
    li a, li div.active  {
        display: block !important;
        font-size: 24px;
    }
    margin-top: 15px;
    a {
        color: $mainBackground;
    }
    .brand a {
        color: $dodgerBlue3;
    }

    & ul {
        -webkit-transform:perspective(600) rotate3d(0,0,0,0);
        margin: 30px auto 0;
        li div.active a {
            display: none !important;
        }
    }
    @include media-query($content-width-901) {
        display: none;
    }
}

/* Get rid of .top nav > 900px wide screens with display: none so does not take up space on page */

nav.top {
    display: none;
}

/* End responsive Menu Styling */

/* Wider Screens Styling > 675px */

div.hamburger,
nav.responsive-menu {
    @include media-query($content-width-901) {
        display: none;
    }
}

/* Make sure that nav links are not reversed in mobile */

nav li a {
    display: block;
    @include media-query($content-width-901) {
        display: inline-block;
        text-decoration: none;
        display: inline-block;
    }
}

nav li {
    display: block;
    @include media-query($content-width-901) {
        display: inline-block;
    }
}

nav ul {
    @include media-query($content-width-901) {
        display: inline-block;
        float: right;
    }
}

/* end nav link fix */

/* Nav Styling > 900px wide */

nav.top {
    @include media-query($content-width-901) {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        background: $tan1;
        z-index: 4;
    }
    ul {
        list-style: none;
    }
    li {
        margin-top: 20px;
        margin-right: 20px;
    }
    li a  {
        display: block !important;
        font-size: 20px;
    }
    a {
        color: $mainBackground;
    }
    .brand a {
        color: $dodgerBlue3;
    }
    li a.active {
        display: none;
    }
}


/* get rid of duplicate active links created by label with react-router-dom. Gets rid of dups in mobile nav. */

li div a, li div.active a {
    display: none !important;
}

/* Brand Styling */

.brand {
    a {
        position: fixed;
        left: 20px;
        top: 10px;
        font-size: $base-font-size;
        color: $dodgerBlue3;
    }
}
