nav {
    li {
        a.active {
            color: $darkOliveGreen1;
        }
    }
}
/* Mobile Hambuerger Styling */

.topNavNarrow {
    background: black;
}

i.hamburger {
    display: block;
    width: 36px;
    height: 30px;
    margin: 0 15px 15px 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    position: sticky;
    left: 100vw;
    cursor: pointer;
    z-index: 99999;
}

i.hamburger div.line {
    width: 100%;
    height: 6px;
    margin: 0 0 6px 0;
    background: white;
    transition: transform 0.3s, opacity 0.1s;
}

/* End Mobile Hamburger Styling */

/* Animation classes for Hamburger Rotation Animation Styling Used in topNavNarrow */

.hide {
    opacity: 0;
    transform: translate(42px);
}

.animate0 {
    transform: rotate(45deg) translateY(17px);
}

.animate2 {
    transform: rotate(-45deg) translateY(-17px);
}

/* End Animation classes for Hamburger Rotation Animation Styling in topNavNarrow */

.topNavWide {
    display: none;
    background: black;
}

.topWideUl {
    li {
        color: white;
        text-decoration: none;
        padding: 0 6px;
        height: 20px;
        a.active {
            display: block;
        }
    }
}

.topWideUl {
    li {
        a:hover {
            color: $lightPink;
            display: block;
            animation: stretch 2s infinite ease-in-out;
        }
    }
}

.topNarrowLinks {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.5s;
    overflow-y: visible;
    position: sticky;
    opacity: 0;
    z-index: 1;
    transition: background 0.5s ease-in-out, opacity 0.5s;
    border-bottom: 1px solid black;
    background: transparent;
    i {
        float: right;
        color: white;
        margin-top: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
    }

    ul.topNarrowLinks {
        display: none;
        li {
            display: block;
            float: none;
        }
    }
}
.topNarrowLinks {
    &.show {
        opacity: 1;
        transition: background 0.5s ease-in-out, visibility 0.5s;
        display: block !important;
        height: auto;
        margin: 0 auto;
        padding-bottom: 12px;
        background: black;
        li {
            list-style-type: none;
            padding: 6px;
            font-size: 20px;
            a {
                text-decoration: none;
                color: white;
            }
            a:hover {
                color: $lightPink;
            }
            a.active {
                  color: $darkOliveGreen1;
            }
        }
    }
}

.active {
    color: $darkOliveGreen1;
}

/* User Agent Style Sheet Styling for Nav Links on transition to opacity 0 */
a:-webkit-any-link {
    color: white;
    text-decoration: none;
}
/* End User Agent Stylesheet Styling */

/* Wider Screens Styling > 675px */

nav {
    @include media-query($content-width-901) {
        .topNavWide {
            display: block;
            height: 60px;
            li {
                display: inline-block;
                float: right;
                margin-top: 20px;
                margin-right: 20px;
                font-size: 20px;
                a {
                    color: white;
                    text-decoration: none;
                    display: block;
                    .active {
                        color: $darkOliveGreen1;
                    }
                }
            }
        }
        .topNavNarrow {
            display: none;
        }
    }

}

/* Get rid of original nav link label because duplicate is created with addition of active class in CustomNavLink Component in the Header Component */
.active a,
.topNavWide li .active a {
    display: none;
}

/* Brand Styling */

.brand {
    float: left;
    margin-top: -50px;
    margin-left: 30px;
    font-size: $base-font-size;
    a {
        color: $lightPink;
    }
}
