.Work-content {
    margin: 20px auto;
    color: black;
    width: 95%;
    .project-list {
        @extend %clearfix;
        width: 100%;
        columns: 3;
        -moz-columns: 3;
        list-style-position: inside;
        padding: 0;
        list-style: none;
        margin: 0 auto;
        @include media-query($atMedium-900) {
            columns: 1;
            width: 100%;
            li {
                float: none;
            }
        }
    }
}

.project {
    padding: 0 1em;
    text-align: center;
}

.project-list {
    .project {
        margin-bottom: 15px;
    }
}

.project-tags {
    margin: 1em;
    text-align: left;
    font-size: 18px;
    li {
        display: inline;
        a {
            color: $darkOliveGreen4;
            &:hover {
                color: $lightCoral;
                transition: 0.7s;
            }
        }
    }
}

.project-tags:first-child {
    margin-top: 0;
}

.project-caption {
    color: tomato;
    font-size: 18px;
}
